In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
dateparse = lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
df = pd.read_csv('data\yellow_tripdata_2016-01.csv', 
                 dtype={
                        "VendorID":'Int8',
                        "tpep_pickup_datetime":'str',
                        "tpep_dropoff_datetime":'str',
                        "passenger_count":'Int8',
                        "trip_distance":'float',
                        "pickup_longitude":'float',
                        "pickup_latitude":'float',
                        "RatecodeID":'category',
                        "store_and_fwd_flag":'category',
                        "dropoff_longitude":'float',
                        "dropoff_latitude":'float',
                        "payment_type":'category',
                        "fare_amount":'float',
                        "extra":'float',
                        "mta_tax":'float',
                        "tip_amount":'float',
                        "tolls_amount":'float',
                        "improvement_surcharge":'float',
                        "total_amount":'float',
                }, 
                 parse_dates = ["tpep_pickup_datetime", "tpep_dropoff_datetime"],
                 date_parser = dateparse,
                 usecols = [1,2,3,4,5,6,7,9,10])

In [4]:
df.to_pickle("data\yellow_tripdata_2016-01.pkl")

In [79]:
# df = pd.read_pickle("data\yellow_tripdata_2016-01.pkl")

In [8]:
df.dropna(inplace=True)
len(df)

10906858

In [21]:
drop_indices = df[(df.passenger_count <= 0) | (df.passenger_count >= 3) | (df.dropoff_longitude == 0) | (df.dropoff_latitude == 0) | (df.pickup_longitude == 0) | (df.pickup_latitude == 0) | (df.trip_distance < 0.1) ].index

df.drop(drop_indices, inplace=True)

In [23]:
df['pickup_latitude'] = df['pickup_latitude'].apply(lambda x: round(x,4))
df['dropoff_latitude'] = df['dropoff_latitude'].apply(lambda x: round(x,4))
df['pickup_longitude'] = df['pickup_longitude'].apply(lambda x: round(x,4))
df['dropoff_longitude'] = df['dropoff_longitude'].apply(lambda x: round(x,4))
df.index = np.arange(1, len(df) + 1)

In [35]:
df.to_pickle(r"data\final_input_data.pkl")

In [33]:
df.to_csv(r"data\final_input_data.csv", index_label="Trip_Id")

In [32]:
# 40.7769° N, 73.8740° W
df[(df.pickup_latitude == 40) & (df.pickup_longitude == -73)]

Empty DataFrame
Columns: [tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude]
Index: []