In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import psycopg2

from shapely.geometry import Polygon , Point

import matplotlib as mpl
import matplotlib.pyplot as plt

plt.style.use('ggplot')
%matplotlib inline

## Create SQL Alchemy Object to Run Queries

In [2]:
from sqlalchemy import create_engine, Table, Column, MetaData, String, Integer, Float, DateTime, Computed, Identity
conn_string = "postgresql://nycrideshare:nycrideshare@127.0.0.1:5432/nyc_taxi"
nyc_database = create_engine(conn_string)

## Create table in PostgreSQL using psycopg2
### Uncmment and Do it ONLY ONCE

In [3]:
meta = MetaData(nyc_database, schema='nyc_taxi_schema')
nyc_table = Table('ride_details', meta,
                  Column('id', Integer, Identity(start=1, cycle=False), primary_key=True),
                  Column('tpep_pickup_datetime', DateTime),
                  Column('tpep_dropoff_datetime', DateTime),
                  Column('passenger_count', Integer),
                  Column('trip_distance', Float),
                  Column('PULocationID', Integer),
                  Column('DOLocationID', Integer),
                  Column('fare_amount', Float))

with nyc_database.connect() as conn:
    nyc_table.create()

## Test psycopg2 connection

In [4]:
# Here you want to change your database, username & password according to your own values
import sys
param_dic = {
    "host"      : "localhost",
    "database"  : "nyc_taxi",
    "user"      : "nycrideshare",
    "password"  : "nycrideshare",
    "options": "-c search_path=nyc_taxi_schema"
}

def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

conn_2 = connect(param_dic)

Connecting to the PostgreSQL database...
Connection successful

## Logic to copy DF to DB the fastest way

In [5]:
from io import StringIO

def copy_from_stringio(conn, df, table):
    """
    Here we are going save the dataframe in memory 
    and use copy_from() to copy it to the table
    """
    # save dataframe to an in memory buffer
    buffer = StringIO()
    df.to_csv(buffer, index_label='id', header=False)
    buffer.seek(0)
    
    cursor = conn_2.cursor()
    try:
        cursor.copy_from(buffer, table, sep=",")
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
#     print("copy_from_stringio() done")
    cursor.close()

## Insert rows of 6 months data to DB in Chunks. Perform cleaning before inserting

In [6]:
j, chunksize = 1, 100000
for month in range(1, 6):

    
    
    fp = './data/2019/yellow_tripdata_2019-{0:0=2d}.csv'.format(month)
    for df in pd.read_csv(fp, 
                          chunksize=chunksize, 
                          iterator=True, 
                          usecols=[1, 2, 3, 4, 7, 8, 10]):
        df.dropna(inplace=True)
        drop_indices = df[
            (df.tpep_pickup_datetime == df.tpep_dropoff_datetime )|
            (df.PULocationID == df.DOLocationID)|
            (df.passenger_count <= 0) |
            (df.passenger_count >= 3) | 
            (df.PULocationID == 0) |
            (df.DOLocationID == 0) |
            (df.PULocationID == 264) | 
            (df.DOLocationID == 264) |
            (df.PULocationID == 265) | 
            (df.DOLocationID == 265) |
            (df.trip_distance < 0.1)
        ].index
        df.drop(drop_indices, inplace=True)
#         Making all the indices continuous
        df.index += j
        copy_from_stringio(conn_2, df, "ride_details")
        j = df.index[-1] + 1
del df
print("Done Inserting")

Done Inserting

## Insert spatial data to the DB

In [5]:
gdf = gpd.read_file('./data/2019/taxi_zones/taxi_zones.shp').to_crs('epsg:4326')
gpd.sjoin(gpd.GeoDataFrame(crs='epsg:4326',
    geometry=[Point(-73.966, 40.78)]), 
    gdf, how='left', op='within')
gdf.to_postgis("nyc_zones", nyc_database)
gdf.head()

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((-74.18445 40.69500, -74.18449 40.695..."
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,"MULTIPOLYGON (((-73.82338 40.63899, -73.82277 ..."
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((-73.84793 40.87134, -73.84725 40.870..."
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((-73.97177 40.72582, -73.97179 40.725..."
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,"POLYGON ((-74.17422 40.56257, -74.17349 40.562..."

In [ ]:
jan_query = """SELECT * FROM nyc_taxi_schema.ride_details where EXTRACT(MONTH FROM tpep_pickup_datetime) = 1"""
df_jan = pd.read_sql_query(jan_query,nyc_database)

In [ ]:
df_jan.describe()