import numpy as np
import pandas as pd
import geopandas
import psycopg2

In [2]:
import shapefile
from shapely.geometry import Polygon
from descartes.patch import PolygonPatch
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [3]:
from sqlalchemy import create_engine, Table, Column, MetaData, String, Integer, Float, DateTime, Computed, Identity
conn_string = "postgresql://nycrideshare:nycrideshare@127.0.0.1:5432/nyc_taxi"
nyc_database = create_engine(conn_string)

In [4]:
meta = MetaData(nyc_database, schema='nyc_taxi_schema')
nyc_table = Table('ride_details', meta,
                  Column('id', Integer, Identity(start=1, cycle=False), primary_key=True),
                  Column('tpep_pickup_datetime', DateTime),
                  Column('tpep_dropoff_datetime', DateTime),
                  Column('passenger_count', Integer),
                  Column('trip_distance', Float),
                  Column('PULocationID', Integer),
                  Column('DOLocationID', Integer),
                  Column('fare_amount', Float))

with nyc_database.connect() as conn:
    nyc_table.create()

In [5]:
df = pd.read_csv("./data/2019/yellow_tripdata_2019-01.csv", nrows=10)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [6]:
# Here you want to change your database, username & password according to your own values
import sys
param_dic = {
    "host"      : "localhost",
    "database"  : "nyc_taxi",
    "user"      : "nycrideshare",
    "password"  : "nycrideshare",
    "options": "-c search_path=nyc_taxi_schema"
}

def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

conn = connect(param_dic)

Connecting to the PostgreSQL database...
Connection successful

In [7]:
from io import StringIO

def copy_from_stringio(conn, df, table):
    """
    Here we are going save the dataframe in memory 
    and use copy_from() to copy it to the table
    """
    # save dataframe to an in memory buffer
    buffer = StringIO()
    df.to_csv(buffer, index_label='id', header=False)
    buffer.seek(0)
    
    cursor = conn.cursor()
    try:
        cursor.copy_from(buffer, table, sep=",")
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
#     print("copy_from_stringio() done")
    cursor.close()

In [8]:
j, chunksize = 1, 100000
for month in range(1, 6):

    
    
    fp = './data/2019/yellow_tripdata_2019-{0:0=2d}.csv'.format(month)
    for df in pd.read_csv(fp, 
                          chunksize=chunksize, 
                          iterator=True, 
                          usecols=[1, 2, 3, 4, 7, 8, 10]):
        df.dropna(inplace=True)
        drop_indices = df[
            (df.tpep_pickup_datetime == df.tpep_dropoff_datetime )|
            (df.PULocationID == df.DOLocationID)|
            (df.passenger_count <= 0) |
            (df.passenger_count >= 3) | 
            (df.PULocationID == 0) |
            (df.DOLocationID == 0) |
            (df.PULocationID == 264) | 
            (df.DOLocationID == 264) |
            (df.PULocationID == 265) | 
            (df.DOLocationID == 265) |
            (df.trip_distance < 0.1)
        ].index
        df.drop(drop_indices, inplace=True)
        df.index += j
        copy_from_stringio(conn, df, "ride_details")
        j = df.index[-1] + 1
del df
print("Done Inserting")

Done Inserting

In [ ]:
import numpy as np
import pandas as pd
import psycopg2

import shapefile
from shapely.geometry import Polygon
from descartes.patch import PolygonPatch
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

from sqlalchemy import create_engine, Table, Column, MetaData, String, Integer, Float, DateTime, Computed, Identity
conn_string = "postgresql://nycrideshare:nycrideshare@127.0.0.1:5432/nyc_taxi"
nyc_database = create_engine(conn_string)

meta = MetaData(nyc_database, schema='nyc_taxi_schema')
nyc_table = Table('ride_details', meta,
                  Column('id', Integer, Identity(start=1, cycle=False), primary_key=True),
                  Column('tpep_pickup_datetime', DateTime),
                  Column('tpep_dropoff_datetime', DateTime),
                  Column('passenger_count', Integer),
                  Column('trip_distance', Float),
                  Column('PULocationID', Integer),
                  Column('DOLocationID', Integer),
                  Column('fare_amount', Float))

with nyc_database.connect() as conn:
    nyc_table.create()

df = pd.read_csv("./data/2019/yellow_tripdata_2019-01.csv", nrows=10)
df.head()

# Here you want to change your database, username & password according to your own values
import sys
param_dic = {
    "host"      : "localhost",
    "database"  : "nyc_taxi",
    "user"      : "nycrideshare",
    "password"  : "nycrideshare",
    "options": "-c search_path=nyc_taxi_schema"
}

def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

conn = connect(param_dic)

from io import StringIO

def copy_from_stringio(conn, df, table):
    """
    Here we are going save the dataframe in memory 
    and use copy_from() to copy it to the table
    """
    # save dataframe to an in memory buffer
    buffer = StringIO()
    df.to_csv(buffer, index_label='id', header=False)
    buffer.seek(0)
    
    cursor = conn.cursor()
    try:
        cursor.copy_from(buffer, table, sep=",")
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
#     print("copy_from_stringio() done")
    cursor.close()

j, chunksize = 1, 100000
for month in range(1, 6):

    
    
    fp = './data/2019/yellow_tripdata_2019-{0:0=2d}.csv'.format(month)
    for df in pd.read_csv(fp, 
                          chunksize=chunksize, 
                          iterator=True, 
                          usecols=[1, 2, 3, 4, 7, 8, 10]):
        df.dropna(inplace=True)
        drop_indices = df[
            (df.tpep_pickup_datetime == df.tpep_dropoff_datetime )|
            (df.PULocationID == df.DOLocationID)|
            (df.passenger_count <= 0) |
            (df.passenger_count >= 3) | 
            (df.PULocationID == 0) |
            (df.DOLocationID == 0) |
            (df.PULocationID == 264) | 
            (df.DOLocationID == 264) |
            (df.PULocationID == 265) | 
            (df.DOLocationID == 265) |
            (df.trip_distance < 0.1)
        ].index
        df.drop(drop_indices, inplace=True)
        df.index += j
        copy_from_stringio(conn, df, "ride_details")
        j = df.index[-1] + 1
del df
print("Done Inserting")